@import "mixins";
$font-path: '../fonts';
$img-path: '../img';
$tmp-path: '../img/tmp';

$scada-r: 'Scada-Regular';
$scada-b: 'Scada-Bold';
$roboto-t: 'Roboto-Thin';
$roboto-l: "roboto-light";
$roboto-r: 'Roboto-Regular';
$roboto-m: 'Roboto-Medium';
$pt75: 'PTF75F';
$pt55: 'PTF55F';

$mid: 1600px;
$min: 1300px;
$mobile: 830px;

@font-face {
  font-family: 'Scada-Regular';
  src: url('#{$font-path}/Scada-Regular.eot');
  src: url('#{$font-path}/Scada-Regular.woff2') format('woff2'),
       url('#{$font-path}/Scada-Regular.woff') format('woff'),
       url('#{$font-path}/Sca#{$font-path}/da-Regular.ttf') format('truetype'),
       url('#{$font-path}/Scada-Regular.svg#Scada-Regular') format('svg'),
       url('#{$font-path}/Scada-Regular.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Scada-Bold';
  src: url('#{$font-path}/Scada-Bold.eot');
  src: url('#{$font-path}/Scada-Bold.woff2') format('woff2'),
       url('#{$font-path}/Scada-Bold.woff') format('woff'),
       url('#{$font-path}/Scada-Bold.ttf') format('truetype'),
       url('#{$font-path}/Scada-Bold.svg#Scada-Bold') format('svg'),
       url('#{$font-path}/Scada-Bold.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto-Thin';
  src: url('#{$font-path}/Roboto-Thin.woff') format('woff'),
       url('#{$font-path}/Roboto-Thin.ttf') format('truetype'),
       url('#{$font-path}/Roboto-Thin.svg#Roboto-Thin') format('svg'),
       url('#{$font-path}/Roboto-Thin_1.eot'),
       url('#{$font-path}/Roboto-Thin_1.woff2') format('woff2'),
       url('#{$font-path}/Roboto-Thin_1.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'roboto-light';
  src: url('#{$font-path}/roboto-light.woff') format('woff'),
  url('#{$font-path}/Roboto-Thin.ttf') format('truetype'),
  url('#{$font-path}/roboto-light.svg#Roboto-Thin') format('svg'),
  url('#{$font-path}/roboto-light.eot'),
  url('#{$font-path}/roboto-light.woff2') format('woff2'),
  url('#{$font-path}/roboto-light.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto-Regular';
  src: url('#{$font-path}/Roboto-Regular.woff') format('woff'),
       url('#{$font-path}/Roboto-Regular.ttf') format('truetype'),
       url('#{$font-path}/Roboto-Regular.svg#Roboto-Regular') format('svg'),
       url('#{$font-path}/Roboto-Regular_1.eot'),
       url('#{$font-path}/Roboto-Regular_1.woff2') format('woff2'),
       url('#{$font-path}/Roboto-Regular_1.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto-Medium';
  src: url('#{$font-path}/Roboto-Medium.woff') format('woff'),
       url('#{$font-path}/Roboto-Medium.ttf') format('truetype'),
       url('#{$font-path}/Roboto-Medium.svg#Roboto-Medium') format('svg'),
       url('#{$font-path}/Roboto -Medium_1.eot'),
       url('#{$font-path}/Roboto-Medium_1.woff2') format('woff2'),
       url('#{$font-path}/Roboto-Medium_1.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto-Bold';
  src: url('#{$font-path}/Roboto-Bold.woff') format('woff'),
       url('#{$font-path}/Roboto-Bold.ttf') format('truetype'),
       url('#{$font-path}/Roboto-B old.svg#Roboto-Bold') format('svg'),
       url('#{$font-path}/Roboto-Bold_1.eot'),
       url('#{$font-path}/Roboto-Bold_1.woff2') format('woff2'),
       url('#{$font-path}/Roboto-Bold_1.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: 'PTF75F';
  src: url('#{$font-path}/PTF75F.eot');
  src: url('#{$font-path}/PTF75F.woff2') format('woff2'),
       url('#{$font-path}/PTF75F.eot?#iefix') format('embedded-opentype'),
       url('#{$font-path}/PTSerif-Bold.woff') format('woff'),
       url('#{$font-path}/PTSerif-Bold.ttf') format('truetype'),
       url('#{$font-path}/PTSerif-Bold.svg#PTSerif-Bold') format('svg');
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: 'PTF55F';
  src: url('#{$font-path}/PTF55F.eot');
  src: url('#{$font-path}/PTF55F.woff2') format('woff2'),
       url('#{$font-path}/PTF55F.eot? #iefix') format('embedded-opentype'),
       url('#{$font-path}/PTSerif-Regular.woff') format('woff'),
       url('#{$font-path}/PTSerif-Regular.ttf') format('truetype'),
       url('#{$font-path}/PTSerif-Regular.svg#PTSerif-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}





div {
  box-sizing: border-box;
}


body {
  background: #1c1c1c;
  font-family: $scada-r;
  min-width: 320px;
}

#medium-indicator {
  display: none;

  @media all and (max-width: $mid) {
    display: block;
  }
}

#min-indicator {
  display: none;

  @media all and (max-width: $min) {
    display: block;
  }
}

#mobile-indicator {
  display: none;

  @media all and (max-width: $mobile) {
    display: block;
  }
}

.n-header {

  @media all and(max-width: $mobile) {
    position: fixed;
    top: 0;
    z-index: 10;
    background: #1c1c1c;
    width: 100%;
  }

  &__mob {
    display: none;
    height: 80px;

    @media all and (max-width: $mobile) {
      display: block;
    }

    &__container {
      display: table;
      width: 95%;
      height: 100%;
      margin-left: 2%;

      &:after {
        display: block;
        content: '';
        clear: both;
      }
    }
  }

  &__burger {
    vertical-align: middle;
    display: table-cell;

    &__container {
      width: 30px;
      height: 17px;
      margin: 10px auto;
      position: relative;
      cursor: pointer;

      &:after {
        display: block;
        content: '';
        width: 100%;
        height: 3px;
        background: #7B7B7C;
        border-radius: 3px;
        position: absolute;
        top: 0;
        @include transition();
      }

      &:before {
        display: block;
        content: '';
        width: 100%;
        height: 3px;
        background: #7B7B7C;
        border-radius: 3px;
        position: absolute;
        bottom: 0;
        @include transition();
      }
    }

    &__line {
      width: 100%;
      height: 3px;
      background: #7B7B7C;
      border-radius: 3px;
      position: absolute;
      top: 0;
      bottom: 0;
      margin: auto;
      @include transition();
    }

    &:hover {
      .n-header__burger__line {
        background: #fff;
      }
      .n-header__burger__container {
        &:after {
          background: #fff;
        }

        &:before {
          background: #fff;
        }
      }
    }

    &--active {
      .n-header__burger__line {
        left: -10px;
        opacity: 0;
      }
      .n-header__burger__container {
        &:before {
          transform: rotate(45deg);
          bottom: 7px;
        }

        &:after {
          transform: rotate(-45deg);
          top: 7px;
        }
      }
    }
  }


  &__logo {
    display: table-cell;
    vertical-align: middle;
    text-align: center;

    img {
      width: 120px;
      display: block;
      margin: 0px auto;
    }
  }

  &__date {
    display: table-cell;
    vertical-align: middle;
    cursor: pointer;
    text-align: right;
  }

}

.n-main {
  width: 100%;
  min-height: 100%;
  overflow-x: hidden;
}

.n-menu {
  height: 100%;
  width: 62px;
  background: #1c1c1c;
  position: fixed;
  text-align: center;
  left: 0;
  @include transition();

  @media all and(max-width: $mobile) {
    display: none;
  }

  &--active {
    left: -62px;
  }

  &__logo {
    padding-top: 24px;
  }

  &__burger {
    width: 34px;
    height: 29px;
    margin: 10px auto;
    position: relative;
    cursor: pointer;
    
    &__line {
      width: 100%;
      height: 3px;
      background: #7B7B7C;
      border-radius: 5px;
      position: absolute;
      top: 0;
      bottom: 0;
      margin: auto;
      @include transition();
    }

    &:after {
      display: block;
      content: '';
      width: 100%;
      height: 3px;
      background: #7B7B7C;
      border-radius: 5px;
      position: absolute;
      top: 0;
      @include transition();
    }

    &:before {
      display: block;
      content: '';
      width: 100%;
      height: 3px;
      background: #7B7B7C;
      border-radius: 5px;
      position: absolute;
      bottom: 0;
      @include transition();
    }
    
    &:hover {
      .n-menu__burger__line {
        background: #fff;
      }
      
      &:after {
        background: #fff;
      }

      &:before {
        background: #fff;
      }
    }
  }
}
body {
  //overflow: hidden;
}

.n-7D59B3 {
  background: #7D59B3 !important;
  
  &:hover {
    background: darken(#7D59B3,10%) !important;
  }
}

.n-BF4C5D {
  background: #BF4C5D !important;

  &:hover {
    background: darken(#BF4C5D,10%) !important;
  }
}

.hidden {
  overflow: hidden;
}
.n-sidebar {
  position: fixed;
  width: 292px;
  height: 100%;
  left: -292px;

  @media all and (max-width: $mobile) {
    @include transition($value: all, $time: 0.45s, $function: ease-in-out);
  }


  @media all and(max-width: $mobile) {
    position: fixed;
    height: auto;
    width: 100%;
    background: #1c1c1c;
    left: 0;
    top: 70px;
    z-index: 10;
    bottom: 0;
    left: -100%;
    //display: none;
  }

  &__logo {
    @media all and(max-width: $mobile) {
      display: none;
    }
  }

  &__container {
    padding: 40px 38px 50px 38px;
    position: relative;

    @media all and (max-width: $mobile) {
      padding: 0px 38px;
      overflow-y: auto;
      height: 100%;
      padding-bottom: 50px;
    }
  }

  &__close {
    width: 40px;
    height: 40px;
    position: absolute;
    top: 5px;
    left: 5px;
    cursor: pointer;

    @media all and(max-width: $mobile) {
      display: none;
    }
    
    &:after {
      display: block;
      content: '';
      width: 25px;
      height: 1px;
      background: #C2C0B4;
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      margin: auto;
      transform: rotate(45deg);
      @include transition();
    }

    &:before {
      display: block;
      content: '';
      width: 25px;
      height: 1px;
      background: #C2C0B4;
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      margin: auto;
      transform: rotate(-45deg);
      @include transition();
    }

    &:hover {
      &:after {
        background: #fff;
      }

      &:before {
        background: #fff;
      }
    }
  }

  &__bottom {
    position: absolute;
    bottom: 0;
    left: 38px;

    @media all and (max-width: $mobile) {
      position: static;
    }
  }

  &__list-container {
    margin-left: -38px;
    margin-right: -38px;
  }
  
  &__list {
    font-size: 24px;
    padding: 0px 0px;
    margin-top: 98px;
    margin-bottom: 130px;
    position: relative;

    @media all and (max-width: $mobile) {
      padding: 55px 0px;
      padding-top: 0;
      margin-bottom: 10px;
      margin-top: 50px;
    }
  }

  &__item {
    color: #7B7B7C;
    @include transition();

    &:hover {
      color: #fff;
      background: #26292E;
    }

    a {
      display: block;
      padding: 18px 38px;
      position: relative;

      &:after {
        display: block;
        content: '';
        width: 8px;
        height: 100%;
        background: #5B378D;
        position: absolute;
        left: 0;
        top: 0;
        opacity: 0;
      }
    }
  }

  .active {
    background: #26292E;
    color: #fff;

    a {
      &:after {
        opacity: 1;
      }
    }
  }

  &__subitem {
    color: #7B7B7C;
    @include transition();

    &:hover {
      color: #fff;
      background: #2A2F33;
    }
  }

  &__back {
    cursor: pointer;
    position: absolute;
    top: -49px;
    left: 12px;
    width: 32px;
    height: 34px;
    background: url(../img/back.png) -34px 0px;

    &:hover {
      background: url(../img/back.png) 0px 0px;
    }
  }

  &__sublist {
    position: absolute;
    background: #23272B;
    padding: 0px 0px 0px 0px;
    width: 100%;
    left: 103%;
    top: 0;
    z-index: 1;
    box-shadow: -2px -2px 4px rgba(0,0,0,0.5);
    display: none;
  }

  &__version {
    color: #7B7B7C;
    font-size: 17px;
    position: relative;
    cursor: pointer;
    @include transition();

    &:hover {
      color: #fff;
    }

    &:before {
      display: block;
      content: '';
      background: #7E60A6;
      height: 2px;
      width: 30px;
      position: absolute;
      top: -20px;
      left: 0;
    }
  }

  &__icons {
    padding-top: 35px;
    li {
      display: inline-block;
      margin-right: 14px;

      &:hover {
        path {
          fill: #fff;
        }
      }
    }
  }

  &--active {
    left: 0;
  }
}//sidebar

.menu-active {
  left: 0;
}

.n-content {
  margin-left: 62px;
  position: relative;
  z-index: 1;
  height: 100%;
  background: #ff94b2;
  left: 0;
  background: -moz-linear-gradient(top, #ff94b2 1%, #9e005d 18%, #6300bf 35%, #49007f 51%, #3c00aa 68%, #7b0094 85%, #2d003f 100%);
  background: -webkit-linear-gradient(top, #ff94b2 1%,#9e005d 18%,#6300bf 35%,#49007f 51%,#3c00aa 68%,#7b0094 85%,#2d003f 100%);
  background: linear-gradient(to bottom, #ff94b2 1%,#9e005d 18%,#6300bf 35%,#49007f 51%,#3c00aa 68%,#7b0094 85%,#2d003f 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff94b2', endColorstr='#2d003f',GradientType=0 );
  //@include transition();
  //background: #1c1c1c;

  @media all and(max-width: $mobile) {
    margin-left: 0;
    padding-top: 80px;
  }

  &--active {
   left: 292px;
  }

  &__grid {
    padding: 1%;
    background: #F4F4F4;

    @media all and(max-width: $mobile) {
      padding: 10px;
      padding-bottom: 0;
    }
  }

  &__wrap {
    height: 100%;
    position: relative;

    &:after {
      display: block;
      content: '';
      clear: both;
    }

    &__left {
      width: 77%;
      float: left;

      /*@media all and (max-width: 1600px) {
        width: 70%;
      }

      @media all and (max-width: 1200px) {
        width: 50%;
      }*/
    }

    &__right {
      width: 23%;
      float: left;

      /*@media all and (max-width: 1600px) {
        width: 30%;
      }

      @media all and (max-width: 1200px) {
        width: 50%;
      }*/
    }
  }

  &__map {
    height: 446px;
    background: #fff;
    position: relative;

    @media all and(max-width: $mobile) {
      display: none;
    }
  }

  &__bottom {
    padding: 20px 0px;

    @media all and(max-width: $mobile) {
      display: none;
    }
    
    &__sub {
      color: #fff;
      font-size: 16px;
      max-width: 360px;
      display: table;

      img {
        display: inline-block;
        vertical-align: middle;
      }

      span {
        display: inline-block;
        vertical-align: bottom;
        padding-bottom: 10px;
        padding-left: 20px;
      }
    }

    &__cell {
      display: table-cell;
      vertical-align: bottom;
    }
  }

  &__bottom {
    padding: 20px 50px 10px 50px;
    overflow: hidden;
    
    &__left {
      float: left;
      width: 82%;
    }
    
    &__right {
      float: left;
      width: 18%;
    }
    
    
    &__header {
      color: #fff;
      margin-bottom: 25px;
      font-size: 18px;
    }
    &__bans {
      li {
        display: inline-block;
        margin-right: 56px;
        margin-bottom: 10px;
      }
    }
  }
}//content

#bigDate {
  opacity: 1;
}

.n-declarations {
  background: #fff;
  position: relative;
  z-index: 2;
  
  &__month {
    width: 33%;
    display: table-cell;
    vertical-align: middle;
    color: #fff;
    font-size: 2.9vw;
    text-transform: uppercase;
    font-family: $roboto-t;
    padding: 25px 40px 0px 40px;

    @media all and (max-width: $mid) {
      width: 40%;
    }

    &__container {
      display: inline-block;
      position: relative;
      margin-right: 70px;
      padding-bottom: 10px;
    }

    &__arrows {
      position: absolute;
      height: 48px;
      width: 32px;
      top: 0;
      bottom: 0;
      margin: auto;
      right: -70px;
      border-radius: 15px;
      border: 1px solid #BABABA;
    }

    &__arrL {
      position: absolute;
      width: 100%;
      height: 50%;
      top: 0;
      left: 0;
      text-align: center;
      cursor: pointer;

      svg {
        position: absolute;
        left: 0;
        right: 0;
        margin: auto;
        bottom: 5px;
      }

      &:hover {
        path {
          fill: #fff;
        }
      }
    }

    &__arrR {
      position: absolute;
      width: 100%;
      height: 50%;
      bottom: 0;
      left: 0;
      text-align: center;
      transform: rotate(180deg);
      cursor: pointer;

      svg {
        position: absolute;
        left: 0;
        right: 0;
        margin: auto;
        top: 8px;
      }

      &:hover {
        path {
          fill: #fff;
        }
      }
    }
  }

  &__header {
    background: #2e3192; /* Old browsers */
    background: -moz-linear-gradient(left, #2e3192 0%, #9e005d 100%);
    background: -webkit-linear-gradient(left, #2e3192 0%,#9e005d 100%);
    background: linear-gradient(to right, #2e3192 0%,#9e005d 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2e3192', endColorstr='#9e005d',GradientType=1 );
    display: table;
    width: 100%;

    &:after {
      display: block;
      content: '';
      clear: both;
    }

    .n-declarations__container {
      padding-top: 40px;
      width: 67%;
      display: table-cell;
      vertical-align: bottom;

      @media all and (max-width: $mid) {
        width: 60%;
      }

      &:after {
        display: block;
        content: '';
        clear: both;
      }
    }
  }

  &__container {
    padding: 0px 40px;
  }

  &__list {
    width: 73%;
    float: left;

    ul {
      display: table;
      width: 100%;
      height: 100%;
      height: 70px;

      li {
        text-align: center;
        display: table-cell;
        vertical-align: middle;
        font-size: 22px;
        color: #fff;
        text-transform: uppercase;
        cursor: pointer;
        position: relative;

        @media all and (max-width: $mid) {
          font-size: 18px;
        }

        a {
          display: block;
          position: absolute;
          z-index: 1;
          width: 100%;
          height: 100%;
          left: 0;
          top: 0;
        }

        span {
          display: block;
          padding: 0px 10px;
        }
        
        a.active {
          background: transparent;
        }
      }
    }

    .active {
      color: #5B378D;
      background: #fff;
      border-top-left-radius: 5px;
      border-top-right-radius: 5px;
    }
  }

  &__checks {
    width: 27%;
    float: left;
    padding-top: 2px;
    text-align: right;

    ul {
      li {
        display: inline-block;
        margin: 0px 10px;

        &:last-child {
          margin-right: 0;
        }
      }
    }

    .n-square {
      cursor: pointer;
      &:hover {
        circle {
          fill: #EFA0C6;
        }
      }
    }

    .n-lines {
      cursor: pointer;
      &:hover {
        circle {
          fill: #EFA0C6;
        }

        path {
          fill: #EFA0C6;
        }
      }
    }

    .active {
      circle {
        fill: #EFA0C6;
      }

      path {
        fill: #EFA0C6;
      }
    }
  }

  &__selects {
    padding: 20px 0px;
    position: relative;
    z-index: 5;
  }

  &__select {
    display: inline-block;
    width: 230px;
    position: relative;
    z-index: 2;

    select {
      width: 100%;
      height: 100%;
    }

    .ui-state-default {
      color: #1C1C1C;
      font-size: 22px;
      font-family: $scada-r;
      text-transform: uppercase;
      outline: none;
      border-radius: 0 !important;
      border: 0;
      background: transparent;
      font-weight: normal;
    }

    .ui-selectmenu-button span.ui-selectmenu-text {
      text-align: left;
      padding: 0.4em 2.1em 0.4em 0.6em;
    }

    .ui-state-default .ui-icon {
      background: url("../img/arrow.svg") no-repeat;
      width: 20px;
      height: 12px;
    }

    .ui-state-default.ui-state-hover {
      color: #1C1C1C;
      border: 0;
      background: transparent;
    }

    .ui-corner-top .ui-selectmenu-text {
      background: #785AA2;
      color: #fff;
    }

    .ui-widget-content {
      background: #F4F4F4;
      padding: 10px 0px;
    }

    .ui-menu .ui-menu-item {
      color: #1C1C1C;
      text-transform: uppercase;
      font-size: 20px;
      font-family: $scada-r;
      padding: 13px 30px;
    }

    .ui-state-focus, .ui-widget-content .ui-state-focus {
      border: none;
      background: none;
      font-weight: normal;
    }

    .ui-menu .ui-state-focus {
      margin: 0;
    }
  }

  &__wrap {
    min-height: 1450px;
  }

  &__date {
    padding-bottom: 70px;

    .ui-widget-content {
      width: 100%;
      background: #fff;
      border: 0;
    }

    .ui-datepicker .ui-datepicker-header {
      //position: absolute;
    }

    .ui-datepicker .ui-datepicker-header {
      display: none;
    }

    .ui-datepicker-calendar {
      tr {
        //display: table;
        width: 100%;
        
        &:last-child {
          text-decoration: none;

          td {
            border: 1px solid #E8E8E8;
          }
        }
      }

      th {
        display: table-cell;
        width: 14.25%;
        color: #666666;
        font-size: 14px;
        font-family: $scada-r;
        text-transform: uppercase;
        font-weight: normal;
        text-align: left;
        padding-left: 25px;
      }

      td {
        width: 14.25%;
        font-weight: bold;
        color: #1c94c4;
        padding: 0px;
        position: relative;
        min-height: 260px;
        border: 1px solid #E8E8E8;
        border-bottom: 0;

        span {
          border: 0;
          background: none;
          font-weight: normal;
          color: inherit;
        }

        & > a {
          border: 0;
          background: none;
          font-weight: normal;
          color: inherit;
          position: absolute;
          left: 12px;
          top: 10px;
          font-size: 32px;
          font-family: $roboto-l;
          color: #BABABA;
          z-index: 1;
        }

        &:hover {

          .n-event__bg {
            opacity: 1;
          }

          .n-event__cover {
            background: rgba(0,0,0,0.4);
          }

          b {
            color: #fff;
          }

          .n-event__cont {
            color: #fff;
          }

          .event-btn {
            opacity: 1;
          }

          .event-holder {

          }

          .event-container {
            border: 4px solid #C267A6;
          }
        }
      }
    }

    .event-holder {
      //position: relative;
      top: 0;
      left: 0px;
      width: 100%;
      text-align: center;
      min-height: 260px;
    }

    .event-container {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      border: 4px solid transparent;
      z-index: 2;
    }

    .n-event {
      display: block;
      margin: 2px;
      font-style: normal;

      i {
        font-style: normal;
        font-size: 16px;
        font-family: $pt75;
        display: block;
        margin-bottom: 14px;
        margin-top: 5px;
        line-height: 22px;
      }

      b {
        font-weight: normal;
        display: block;
        font-size: 14px;
        font-family: $scada-r;
        margin-bottom: 10px;
        color: #878787;
        @include transition();
      }

      &__bg {
        background-size: cover;
        background-position: center center;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        opacity: 0;
        @include transition();
      }

      &__cont {
        left: 0;
        top: 0;
        position: relative;
        width: 100%;
        height: 100%;
        z-index: 1;
        padding: 65px 24px 50px 24px;
        text-align: left;
        color: #1C1C1C;
        z-index: 2;
        @include transition();
      }

      &__cover {
        z-index: 1;
        position: absolute;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        background: rgba(0,0,0,0);
        @include transition();
      }
    }

    .event-btn {
      display: block;
      text-align: center;
      background: #7D59B3;
      font-size: 14px;
      line-height: 26px;
      font-family: $roboto-r;
      font-weight: normal;
      border-radius: 5px;
      color: #fff;
      opacity: 0;
      @include transition();

      &:hover {
        border: 0;
        background: darken(#7D59B3,10%);
      }
    }

    &--list {

      .ui-datepicker-other-month {
        display: none !important;
      }

      .ui-datepicker-calendar {
        tr {
          display: block;
        }

        td {
          display: block;
          width: auto;
        }
      }
    }
  }//date

}//declarations

.grid:after {
  content: '';
  display: block;
  clear: both;
}

.n-item {
  float: left;
  position: relative;
  overflow: hidden;
  cursor: pointer;

  @media all and(max-width: $mobile) {
    height: 340px;
    margin-bottom: 10px;
    float: none;
  }

  &:hover {

    .n-item__inside__pic {
      transform: scale(1.1);
    }

    .n-item__btn {
      opacity: 1;
    }
  }

  &__container {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    //padding: 9px;
  }

  &__inside {
    width: 100%;
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center top;
    padding: 4.5% 6%;
    position: relative;
    overflow: hidden;

    @media all and (max-width: $mobile) {
      padding: 10px 6%;
    }

    &__pic {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center top;
      @include transition($value: all, $time: 0.35s, $function: linear);
    }

    &__cover {
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      background: #000;
      opacity: 0.3;
      z-index: 1;
      @include transition($value: all, $time: 0.35s, $function: linear);
    }
  }

  &__date {
    text-align: center;
    color: #fff;
    //max-width: 120px;
    display: inline-block;
    position: relative;
    z-index: 1;

    @media all and(max-width: $mobile) {
      max-width: 60px;
    }

    i {
      font-style: normal;
      display: block;
      font-size: 4vw;
      line-height: 70px;

      @media all and (max-width: $min) {
        font-size: 6vw;
      }

      @media all and(max-width: $mobile) {
        font-size: 10vw;
        line-height: 1.1;
      }

      @media all and (max-width: 400px) {
        font-size: 44px;
      }
    }

    span {
      text-transform: uppercase;
      font-size: 1.1vw;

      @media all and (max-width: $min) {
        font-size: 1.6vw;
      }

      @media all and(max-width: $mobile) {
        font-size: 2.6vw;
      }

      @media all and (max-width: 400px) {
        font-size: 12px;
      }
    }
  }

  &__btn {
    display: inline-block;
    position: absolute;
    font-size: 20px;
    color: #fff;
    font-family: $roboto-r;
    background: #C267A6;
    border-radius: 3px;
    padding: 16px 28px;
    top: 35px;
    right: 35px;
    opacity: 1;
    z-index: 2;
    @include transition();

    @media all and(max-width: $mobile) {
      opacity: 1;
      top: 15px;
      right: 15px;
      padding: 14px 21px;
    }

    @media all and(max-width: $mobile) {
      font-size: 16px;
    }

    &:hover {
      background: darken(#C267A6,10%);
    }
  }

  &__count {
    font-family: $scada-b;
    font-size: 1.8vw;
    position: absolute;
    z-index: 2;
    text-align: center;
    width: 100%;
    top: 44%;
    color: #fff;
    text-transform: uppercase;

    @media all and(max-width: $mobile) {
      font-size: 28px;
      top: 43%;
    }
  }

  &__name {
    position: absolute;
    left: 6%;
    bottom: 35px;
    right: 35px;
    z-index: 2;

    @media all and(max-width: $mobile) {
      bottom: 55px;
      left: 6%;
    }

    &__header {
      font-size: 3.5vw;
      text-transform: uppercase;
      font-family: $pt75;
      line-height: 1.2;
      color: #fff;
      
      &:hover {
        text-decoration: underline;
      }

      @media all and(max-width: $mobile) {
        font-size: 36px;
      }
    }
  }

  &__subname {
    position: absolute;
    left: 0;
    top: -95px;
    font-family: $scada-r;
    font-size: 22px;
    color: #fff;
    opacity: 0.7;
    line-height: 70px;
    text-transform: uppercase;

    @media all and(max-width: $mobile) {
      font-size: 16px;
      line-height: 50px;
      top: -65px;
    }

    &:after {
      display: block;
      content: '';
      height: 4px;
      width: 65px;
      background: #C267A6;
      bottom: 2px;
      position: absolute;
      left: 0;
    }
  }

  &__subdate {
    color: #fff;
    opacity: 0.7;
    text-transform: uppercase;
    font-size: 18px;
  }

  &__age {
    width: 82px;
    height: 40px;
    position: absolute;
    right: -35px;
    top: -70px;
    color: #fff;
    background: #5B378D;
    opacity: 0.7;
    font-size: 28px;
    font-family: $scada-r;
    text-align: center;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;

    @media all and (max-width: $mobile) {
      font-size: 16px;
      width: 46px;
      height: 24px;
      top: -50px;
    }

    span {
      display: block;
      line-height: 40px;
      vertical-align: middle;

      @media all and (max-width: $mobile) {
        line-height: 23px;
      }
    }
  }

  .ui-datepicker {
    position: absolute;
    width: 100%;
    height: 100%;
    background: -moz-linear-gradient(top, #9E005D 0%, #2E3192 100%);
    background: -webkit-linear-gradient(top, #9E005D 0%, #2E3192 100%);
    background: linear-gradient(to bottom, #9E005D 0%, #2E3192 100%);
  }

  .ui-corner-all {
    border-radius: 0;
  }

  .ui-widget-header {
    border: none;
    background: none;
    font-size: 1.6vw;
    text-transform: uppercase;
    font-family: $roboto-m;
    color: #C267A6;

    @media all and (max-width: $min) {
      font-size: 2vw;
    }
  }

  .ui-widget-content {
    border: none;
  }

  .ui-datepicker .ui-datepicker-prev, .ui-datepicker .ui-datepicker-next {
    width: 34px;
    height: 34px;
    border-radius: 50%;
  }

  .ui-widget-header .ui-icon {
    width: 34px;
    height: 34px;
    background-image: none;
    border: none;
    border-radius: 50%;
    left: 0 !important;
    top: 0 !important;
    margin-left:0 !important;
    margin-top: 0 !important;
  }


  .ui-datepicker-calendar {
    height: 76%;
  }

  .ui-datepicker table {
    //margin-top: 10px;

    @media all and (max-width: $min) {
      margin-top: 2%;
    }
  }

  .ui-datepicker td {
    text-align: center;
    position: relative;
  }

  .ui-datepicker td a {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    z-index: 1;
  }

  .ui-datepicker td span {

  }

  .ui-datepicker-calendar thead {
    display: none;
  }

  .ui-datepicker .ui-datepicker-title {
    line-height: 40px;
  }

  .ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {
    text-align: center;
    border: 0;
    display: inline-block;
    line-height: 1.8;
    font-size: 1.2vw;
    font-family: $roboto-r;
    background: none;
    color: #fff;
    font-weight: normal;

    @media all and (max-width: $min) {
      font-size: 2.3vw;
    }
  }

  .ui-state-default.ui-state-hover, .ui-state-default.ui-state-active {
    z-index: 1;
    color: #37247A;

    &:after {
      display: block;
      content: '';
      width: 45px;
      height: 45px;
      background: #fff;
      border-radius: 50%;
      position: absolute;
      left: 0;
      right: 0;
      top: -4px;
      bottom: 0;
      margin: auto;
      z-index: -1;

      @media all and (max-width: $mid) {
        top: -8px;
      }

      @media all and (max-width: $min) {
        top: -4px;
      }
    }
  }

  .ui-state-default.ui-state-hover {
    color: #fff;
    &:after {
      background: transparent;
      border: 1px solid #fff;
    }
  }

  .ui-datepicker-prev {
    left: 12px !important;
    top: 12px !important;
    background: url(../img/arrows.png);
  }

  .ui-datepicker-prev-hover {
    width: 34px !important;
    height: 34px !important;
    background: none !important;
    border: none !important;
    left: 12px !important;
    top: 12px !important;
    background: url(../img/arrows.png) 0px 33px !important;

    &:after {
      display: none;
    }
  }

  .ui-datepicker-next {
    right: 12px !important;
    top: 12px !important;
    background: url(../img/arrows.png) 34px 0px;
  }

  .ui-datepicker-next-hover {
    width: 34px !important;
    height: 34px !important;
    background: none !important;
    border: none !important;
    right: 12px !important;
    top: 12px !important;
    background: url(../img/arrows.png) 34px 33px !important;

    &:after {
      display: none;
    }
  }

  .ui-datepicker .ui-datepicker-title {
    margin: 0 1.3em;
    margin-top: 2px;

    @media all and (max-width: $min) {
      margin-top: 4px;
    }
  }

  .event-holder {
    position: absolute;
    bottom: -6px;
    left: 5px;
    width: 100%;
    text-align: center;

    @media all and (max-width: $mid) {
      bottom: -8px;
    }

    @media all and (max-width: $min) {
      bottom: -4px;
    }
  }

  .event-container {
    display: inline-block;
  }

  .n-event {
    display: inline-block;
    width: 5px;
    height: 5px;
    background: #7B7B7C;
    border-radius: 50%;
    margin: 2px;

    b {
      display: none;
    }
  }
}//item

.stamp {
  position: absolute;
  top: 0px;
  right: 0px;
}

.gutter-sizer {
  width: 1%;
}

.grid-next {
  margin-top: 1%;

  @media all and (max-width: $mobile) {
    margin-top: 0;
  }
}

.x1 {
  width: 33%;

  @media all and(max-width: $mobile) {
    height: 520px;
  }

  @media all and (max-width: $mid) {
    width: 38%;
  }

  @media all and (max-width: $min) {
    width: 59%;
  }

  @media all and (max-width: $mobile) {
    width: 100%;
  }

  .n-item__name {
    bottom: 25px;
  }
}

.x2 {
  width: 23%;

  @media all and (max-width: $mid) {
    width: 30%;
  }

  @media all and (max-width: $mobile) {
    width: 100%;
  }

  .n-item__inside {
    padding: 10px 6% 35px 6%;
  }

  .n-item__date {
    max-width: 90px;

    @media all and (max-width: $mobile) {
      max-width: 60px;
    }

    i {
      font-size: 56px;

      @media all and (max-width: $mobile) {
        font-size: 10vw;
        line-height: 1.1;
      }

      @media all and (max-width: 400px) {
        font-size: 44px;
      }
    }

    span {
      font-size: 20px;

      @media all and (max-width: $mobile) {
        font-size: 2.6vw;
      }

      @media all and (max-width: 400px) {
        font-size: 12px;
      }
    }
  }

  .n-item__btn {
    top: 20px;
    font-size: 16px;
    padding: 14px 21px;

    @media all and (max-width: $mobile) {
      top: 15px;
    }
  }

  .n-item__name {
    left: 8%;

    @media all and (max-width: $mobile) {
      left: 6%;
    }

    .n-item__name__header {
      font-size: 1.5vw;
      line-height: 1.2;

      @media all and (max-width: $mobile) {
        font-size: 28px;
      }

      &--mod {
        text-transform: none;
        font-size: 1.4vw;
        font-family: $scada-r;
        background: url(../img/bg.png);
        display: block;
        background-size: cover;
        margin: -35px;
        padding: 35px;

        @media all and (max-width: $mobile) {
          font-size: 28px;
        }
      }
    }
  }

  &--news {

    .n-item__inside__cover {
      opacity: 1;
      
      &:after {
        display: block;
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
        background: #000;
        opacity: 0;
        @include transition();
      }
    }

    &:hover {
      .n-item__inside__cover {
        background: transparent !important;
        &:after {
          opacity: 0.3;
        }
      }
    }

    .n-item__header {
      font-size: 32px;
      text-transform: uppercase;
      color: #fff;
      font-family: $roboto-t;
      opacity: 0.7;
      transform: rotate(-90deg);
      position: absolute;
      top: 55px;
      right: -56px;
    }

    .n-item__name {

      .n-item__name__header {
        font-size: 1.4vw;
        line-height: 1.2;
        text-transform: none;

        @media all and (max-width: $mobile) {
          font-size: 24px;
        }
      }
    }

    .n-item__subdate {
      padding-top: 30px;
      opacity: 0.7;

      span {
        font-size: 18px;
      }
    }
  }
}//x2

.x3 {
  width: 16%;


  @media all and (max-width: $mid) {
    width: 18.5%;
  }

  @media all and (max-width: $min) {
    width: 29%;
  }

  @media all and (max-width: $mobile) {
    width: 100%;
  }

  .n-item__inside {
    padding: 5px 20px;

    @media all and (max-width: $mobile) {
      padding: 10px 6%;
    }
  }

  .n-item__inside__cover {
    opacity: 0.3;
  }

  .n-item__header {
    font-size: 32px;
    text-transform: uppercase;
    color: #fff;
    font-family: $roboto-t;
    opacity: 0.7;
    transform: rotate(-90deg);
    position: absolute;
    top: 55px;
    right: -56px;
    z-index: 1;
  }

  .n-item__name {
    left: 12%;

    @media all and (max-width: $mobile) {
      left: 6%;
    }

    .n-item__name__header {
      font-size: 1.2vw;
      line-height: 1.5;

      @media all and (max-width: $mobile) {
        font-size: 28px;
      }
    }
  }

  .n-item__date {
    max-width: 65px;

    i {
      font-size: 48px;

      @media all and (max-width: $mobile) {
        font-size: 10vw;
        line-height: 1.1;
      }

      @media all and (max-width: 400px) {
        font-size: 44px;
      }
    }

    span {
      font-size: 15px;

      @media all and (max-width: $mobile) {
        font-size: 2.6vw;
      }

      @media all and (max-width: 400px) {
        font-size: 12px;
      }
    }
  }

  .n-item__subdate {
    padding-top: 10px;
    opacity: 0.7;

    span {
      font-size: 16px;
    }
  }

  .n-item__btn {
    font-size: 13px;
    padding: 10px 16px;
    top: 20px;
    right: 20px;

    @media all and (max-width: $mobile) {
      padding: 14px 21px;
    }
  }

  &--news {
    .n-item__inside__cover {
      opacity: 1;

      &:after {
        display: block;
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
        background: #000;
        opacity: 0;
        @include transition();
      }
    }

    &:hover {
      .n-item__inside__cover {
        background: transparent !important;
        &:after {
          opacity: 0.3;
        }
      }
    }

    .n-item__header {
      font-size: 32px;
      text-transform: uppercase;
      color: #fff;
      font-family: $roboto-t;
      opacity: 0.7;
      transform: rotate(-90deg);
      position: absolute;
      top: 55px;
      right: -56px;

      @media all and (max-width: $mobile) {
        font-size: 38px;
        top: 68px;
        right: -70px;
      }
    }

    .n-item__name {
      padding-right: 30px;

      .n-item__name__header {
        font-size: 1vw;
        text-transform: none;
        line-height: 1.2;

        @media all and (max-width: $min) {
          font-size: 1.8vw;
        }

        @media all and (max-width: $mobile) {
          font-size: 24px;
        }
      }
    }

    .n-item__subdate {
      padding-top: 20px;
      opacity: 0.7;

      span {
        font-size: 16px;
      }
    }
  }

  &--circle {
    .n-item__inside__pic {
      border-radius: 50%;
      width: auto;
      height: auto;
      top: 15px;
      bottom: 15px;
      left: 15px;
      right: 15px;
      z-index: 2;

      &:after {
        display: block;
        content: '';
        border: 34px solid rgba(173, 19, 128, .7);
        -webkit-background-clip: padding-box;
        background-clip: padding-box;
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        border-radius: 50%;
        @include transition();
      }
      
      &:before {
        display: block;
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        background: #000;
        opacity: 0.3;
        border-radius: 50%;
        @include transition();
      }
    }

    .n-item__inside__cover {
      opacity: 1;
    }

    .n-item__name {
      z-index: 2;

      .n-item__name__header {
        font-size: 1vw;
        line-height: 1.2;
        text-transform: none;

        @media all and (max-width: $min) {
          font-size: 1.8vw;
        }

        @media all and (max-width: $mobile) {
          font-size: 28px;
        }
      }
    }

    &:hover {
      .n-item__inside__cover {
        opacity: 1;
      }

      .n-item__inside__pic {
        //transform: none;
        &:after {
          border: 0px solid rgba(173, 19, 128, 0.7);
        }
      }
    }
  }

  &--color {
    .n-item__inside__pic {
      &:after {
        border: 34px solid rgba(55, 36, 122, 0.7);
      }
    }
  }

  &--mod {
    .n-item__header {
      transform: none;
      left: 12%;
      top: 35px;
      font-size: 1.2vw;
      color: #FFA809;
      font-family: $scada-b;

      @media all and(max-width: $mobile) {
        font-size: 28px;
        left: 6%;
      }
    }

    .n-item__inside__pic {
      background: -moz-linear-gradient(top, #9E005D 0%, #2E3192 100%);
      background: -webkit-linear-gradient(top, #9E005D 0%, #2E3192 100%);
      background: linear-gradient(to bottom, #9E005D 0%, #2E3192 100%);
    }

    .n-item__name {
      bottom: 30px;

      .n-item__name__header {
        text-transform: none;
        font-size: 2.5vw;
        font-family: $pt55;
        line-height: 1.2;

        @media all and (max-width: $mobile) {
          font-size: 28px;
        }

        b {
          font-weight: normal;
          font-family: $pt75;
        }
      }

    }
  }
}//x3

.x4 {
  width: 25%;


  @media all and (max-width: $mid) {
    width: 30%;
  }

  @media all and (max-width: $min) {
    width: 40%;
  }

  @media all and (max-width: $mobile) {
    width: 100%;
  }

  &--mod {
    width: 25%;


    @media all and (max-width: $mid) {
      width: 30%;
    }

    @media all and (max-width: $min) {
      width: 40%;
    }

    @media all and (max-width: $mobile) {
      width: 100%;
    }

    .n-item__name {
      text-align: center;
      top: 46%;
      bottom: 30px;
      left: 8%;
    }
    
    .n-item__name__header {
      font-size: 1.7vw;
      text-align: center;

      @media all and (max-width: $min) {
        font-size: 2.5vw;
      }

      @media all and (max-width: $mobile) {
        font-size: 28px;
      }
    }
  }

  &--mod2 {
    .n-item__name {
      text-align: left;
      top: auto;
    }
  }
}

.x5 {
  width: 33%;

  /*@media all and (max-width: 1600px) {
    width: 49%;
  }

  @media all and (max-width: 1200px) {
    width: 50%;
  }*/

  @media all and (max-width: $mid) {
    width: 38%;
  }

  @media all and (max-width: $min) {
    width: 59%;
  }

  @media all and (max-width: $mobile) {
    width: 100%;
  }

  .n-item__name__header {
    font-size: 2.5vw;
    text-transform: none;
    line-height: 1.2;

    @media all and (max-width: $min) {
      font-size: 3vw;
    }

    @media all and (max-width: $mobile) {
      font-size: 28px;
    }
  }
}//x5

.n-pic-container {
  position: absolute;
  width: 88%;
  padding-top: 88%;
  top: 5%;
  left: 6%;

  @media all and (max-width: $min) {
    width: 74%;
    padding-top: 74%;
    top: 7%;
    left: 13%;
  }

  @media all and (max-width: $mobile) {
    width: 38%;
    padding-top: 38%;
    top: 7%;
    left: 30%;
  }

  &__sub {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    overflow: hidden;
    border-radius: 100%;
    z-index: 2;
  }

  .n-item__inside__pic {
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
  }
}

.hideFirst {
  @media all and (max-width: $mid) {
    display: none;
  }

  @media all and (max-width: $mobile) {
    display: block;
  }
}

.hideSecond {
  @media all and (max-width: $min) {
    display: none;
  }

  @media all and (max-width: $mobile) {
    display: block;
  }
}

.hideThird {
  @media all and (max-width: $mobile) {
    display: none;
  }
}

.n-slider {
  height: 100%;

  &__container {
    height: 100%;
  }

  &__item {
    height: 100%;
  }

  &__arrowL {
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    z-index: 5;
    width: 50px;
    height: 50px;
    left: 35px;

    @media all and(max-width: $mobile) {
      width: 30px;
      height: 30px;
      left: 15px;

      svg {
        width: 100%;
        height: 100%;
      }
    }

    &:hover {
      g {
        opacity: 1;
      }
    }
  }

  &__arrowR {
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    z-index: 5;
    width: 50px;
    height: 50px;
    right: 35px;
    transform: rotate(180deg);

    @media all and(max-width: $mobile) {
      width: 30px;
      height: 30px;
      right: 15px;

      svg {
        width: 100%;
        height: 100%;
      }
    }

    &:hover {
      g {
        opacity: 1;
      }
    }
  }
}

.n-date {

  .n-item__inside {
    padding: 6% 8%;
  }

  .n-item__inside__pic {
    height: 65.5%;
  }

  &:hover {
    .n-item__inside__cover {
      opacity: 0.3;
    }

    .n-item__inside__pic {
      transform: none;
    }
  }
}

.picker {
  height: 34.5%;
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  z-index: 2;
}

.n-dateSlider {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;

  .n-item__inside__pic {
    position: static;
  }
}

.n-footer {
  margin-left: 62px;
  color: #BABABA;
  font-size: 16px;

  @media all and(max-width: $mobile) {
    margin-left: 0;
  }

  &__container {
    padding: 0px 50px;
    display: table;
    width: 100%;
    height: 140px;

    @media all and(max-width: $mobile) {
      height: auto;
      padding-bottom: 50px;
    }
  }

  &__left {
    text-align: left;
    display: table-cell;
    vertical-align: middle;

    @media all and(max-width: $mobile) {
      float: none;
      display: block;
      margin-bottom: 30px;
      padding-top: 60px;
    }
  }

  &__right {
    text-align: right;
    display: table-cell;
    vertical-align: middle;

    @media all and(max-width: $mobile) {
      float: none;
      display: block;
      text-align: left;
    }
  }
}

.infoWindow {
  max-width: 510px;
  padding: 40px 0px 30px 40px;
  
  &__container {
    overflow: hidden;
  }
  
  &__left {
    float: left;
    width: 45%;
    padding-right: 30px;

    img {
      display: block;
      width: 100%;
    }
  }
  
  &__right {
    float: left;
    width: 55%;
    font-size: 18px;
    font-family: $scada-r;
    color: #878787;
  }
}

.gm-style-iw {
  position: relative !important;
  z-index: 1;
  left: 0 !important;
  top: 0 !important;
  width: 490px !important;
  overflow: visible !important;

  &:after {
    display: block;
    content: '';
    width: 0;
    height: 0;
    border-top: 30px solid transparent;
    border-left: 30px solid #fff;
    border-bottom: 30px solid transparent;
    position: absolute;
    top: 55px;
    right: -60px;
    z-index: 1;
  }

  &:before {
    display: block;
    content: '';
    width: 50px;
    height: 50px;
    background: url(../img/shadow.png);
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    z-index: -1;
    right: -85px;
    top: 64px;
  }
}

.gm-style-iw + div {
  display: none;
}

.n-events {
  position: absolute;
  z-index: 1;
  bottom: 40%;
  left: 10px;
  right: 10px;

  @media all and (max-width: $mid) {
    left: 0;
    right: 0;
  }

  li {
    border: 1px solid transparent;
    font-size: 1.1vw;
    font-family: $pt75;
    color: #fff;
    overflow: hidden;
    padding: 15px 28px;

    @media all and (max-width: $min) {
      font-size: 1.7vw;
    }

    &:hover {
      border: 1px solid #fff;
      background: #fff;
      color: #1C1C1C;
    }

    i {
      font-style: normal;
      float: left;
      width: 20%;
      font-size: 16px;
      font-family: $scada-r;
      padding-top: 5px;
    }
    
    span {
      float: left;
      width: 80%;
    }
  }
}





